<div class="jumbotron text-center">
<h2>About Us</h2>
<h3>Dedicated to connecting homeowners with trusted house and pet sitters. We run a background check on every sitter in our system so that your home and pets are safely taken care of.</h3>
</div>