.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #B40404;
    border-radius: 4px;
    background-color: #DF0101;
    color: #fff;
    text-align: center;
}

.well.box {
    background-color: #fff;
    border-radius: 10px;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #8A0886;
    border-color: #F5A9F2;
}

.well.contact-info {
    background-color: #AEB404;
    border-color: #46b8da;
}

img {
    border-radius: 50%;
    //box-shadow: ;
    }
